body{
    font-family: Arial, Helvetica, sans-serif, "proxima nova light", "Helvetica Neue";
    background-color: lightblue;
    color: black;
    font-size: 24px;
}

a {
    color: black;
}

img {
    width: 3.75rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 1 1 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.left{
    background-color: antiquewhite;
}

.right{
    background-color: thistle;
}